<launch>
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" />
  
  <!-- J23_coupled: set TRUE to apply correction for J2/J3 parallel linkage -->
  <arg name="J23_coupled" default="false" />
  
  <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
  <param name="J23_coupled" type="bool" value="$(arg J23_coupled)"/>
  
  <!-- robot_state: publishes joint positions and robot-state data
                   (from socket connection to robot) -->
  <node pkg="abb_driver" type="robot_state" name="robot_state"/>
  
  <node pkg="abb_file_suite" type="ros_abb_ftp_interface_node" name="ftp_interface">
    <param name="controller_ip" value="$(arg robot_ip)"/>
  </node>
  
  <param name="move_group/trajectory_execution/execution_duration_monitoring" value="false"/>
  <node pkg="industrial_robot_client" type="joint_trajectory_action" name="joint_trajectory_action" />
</launch>
