<?xml version="1.0" ?>
<robot name="irb2400_workspace" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find abb_irb2400_support)/urdf/irb2400_macro.xacro"/>
  <xacro:include filename="$(find blending_end_effector)/urdf/blending_eff_macro.xacro"/>
  <!--<xacro:include filename="$(find godel_irb2400_support)/urdf/swri_demo_cell_macro.xacro"/>-->

  <link name="world_frame"/>

  <!-- instantiating arm  --> 
  <xacro:abb_irb2400 prefix=""/>
  <!-- instantiating end effector  -->
  <xacro:blending_eff_definition prefix=""/>

  <!--<xacro:swri_demo_cell prefix=""/>-->

  <!-- Attach the end effector to the end of the robot arm (tool0) -->
  <joint name="link_t_to_eff" type="fixed">
    <parent link="tool0"/>
    <child link="eff_frame"/>
    <origin xyz="0 0 0" rpy="0 0 ${half_pi}"/>
  </joint>

  <!-- start of arm-workcell joint definitions -->
  <joint name="world_to_base" type="fixed">
    <parent link="world_frame"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

<!--  <joint name="world_to_demo_cell" type="fixed">
    <parent link="world_frame"/>
    <child link="demo_cell_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>-->
  
</robot>
